<html>

<head>
  <title>My Angular App!</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-app="flapperNews" ng-controller="MainController">
  <div class="row">
    <div class="col-md-6 col-md-offset3">

      <div class="page-header">
        <h1>Flapper News</h1>
      </div>

      <!-- order by upvotes descending -->
      <div ng-repeat="post in app.posts | orderBy: '-upvotes'">

        <span class="glyphicon glyphicon-thumbs-up" 
        ng-click="app.incrementUpvotes(post)">
          {{post.upvotes}}
        </span>

        <span style="font-size:20px;margin-left:10px;">
          <a ng-show="{{post.link}}" href="{{post.link}}">
            {post.title}}
          </a>
          <span ng-hide="{{post.link}}">
            {{post.title}}
          </span>
        </span><!-- style -->

        <a href="{{post.link}}">{{post.link}}</a>
        </div><!-- ng-repeat post -->

          <!-- setting the model does the data binding -->
          <form ng-submit="app.addPost(title, link, app.posts)"
            style="margin-top:30px;">
            <h3>Add a new post</h1>
            <div class="form-group">
              <input 
                class="form-control"
                type="text" 
                ng-model="title",
                placeholder="Title">
              </input>
            </div>
            <div class="form-group">
              <input 
                class="form-control"
                type="text" 
                ng-model="link",
                placeholder="Link">
              </input>
            </div>
            <button 
              class="btn btn-primary" 
              type="submit">Post
            </button>
          </form>

    </div> <!-- col-md-6 etc -->
  </div> <!-- row -->

  <script src="vendor/angular.min.js"></script>
  <script src="vendor/angular-ui-router.js"></script>
  <script src="app.js"></script>
</body>

</html>