 <div class="page-header">
    <h3>
      <a ng-show="post.link" ng-href="{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
     
    </h3>
  </div>

  <div ng-repeat="comment in app.post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up"
      ng-click="app.incrementCommentUpVotes(app.post._id,comment)">
    </span>
    {{comment.upvotes}} - by {{comment.author}} 
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
  </div>
  <form ng-submit="app.addComment(app.post._id,body)"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">      
      <input 
        type="text"
        class="form-control"
        placeholder="Comment"
        ng-model="body"
        name=body>
      </input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
